* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.45;

  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #8f969d;
  --icon-color: #70767d;
  --border-color: #75a1f4;
  --text-decoration-color: #99b8f8;
}
.wrapper {
  margin: 0 auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 8px 0;
  max-width: 900px;
}

.container {
  padding: 0 32px;
}
.block {
  border-bottom: 3px solid var(--border-color);
}

.contact-info-title,
.contact-info-subtitle {
  text-align: center;
  padding-bottom: 8px;
}
.contact-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 4px 16px;
  align-items: center;
}
.contact-info-items {
  display: flex;
  flex-direction: column;
}
.contact-info-avatar {
  align-self: center;
}

.contact-info-link {
  white-space: nowrap;
  color: var(--secondary-text-color);
}
.fa-solid,
.fa-brands {
  padding-right: 8px;
  color: var(--icon-color);
  align-content: center;
}
.contact-info-items-link {
  list-style: none;
}
.contact-info-items-link > li {
  margin: 4px 0;
}
.contact-info-items-link > li > a {
  color: var(--text-decoration-color);
}
.contact-info-items-link > li > a > span {
  color: var(--secondary-text-color);
}
.contact-info-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}

.summary-text {
  color: var(--secondary-text-color);
  padding: 4px 16px;
  text-align: justify;
}

.skills-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2px 32px;
}
.skills-block {
  width: 50%;
  padding: 0 0 0 px;
  color: var(--secondary-text-color);
}
.skills-title {
  text-transform: uppercase;
  padding: 2px;
  margin: 0 -16px;
}

.experience {
  padding: 4px 16px;
  color: var(--secondary-text-color);
}
.experience-title {
  text-transform: uppercase;
}
.periods {
  color: var(--durability-text-color);
}
.experience-block > ul {
  padding: 4px 16px;
}

.education {
  display: flex;
  /* justify-content: space-around; */
  padding: 4px 16px;
  color: var(--secondary-text-color);
}
.additional-education,
.base-education {
  width: 50%;
}

.additional-education h3,
.base-education h3 {
  text-transform: uppercase;
  /* margin: 0 -16px; */
}

.additional-education-box,
.base-education-box {
  padding: 4px 16px;
}
.additional-education-box > ul {
  padding: 0 16px;
}
.additional-education-box p,
.base-education-box p {
  color: var(--durability-text-color);
}

.languages {
  color: var(--secondary-text-color);
  padding: 0 16px;
}

@media (max-width: 600px) {
  .container {
    padding: 0 8px;
  }
  .contact-info-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3fr);
  }
  .avatar {
    grid-area: 1/1/2/2;
  }
  .education {
    flex-direction: column;
    /* margin: 0 16px; */
    /* width: 100%; */
  }
  .additional-education,
  .base-education {
    width: 100%;
  }
  .skills-wrapper {
    gap: 16px;
  }
}
